 <aside>
  <h3>Group Mart / Group Software</h3>
  <h4>Cargo: Estagiário Desenvolvedor Full-Stack</h4>
  <p>
    <b>Atividades desenvolvidas:</b> Desenvolvimento de projetos Web e Mobile utilizando frameworks JavaScript
    para Front-End: Angular, Ionic 3 e bibliotecas como Angular Material e Libs para CSS como Sass e Scss.
    Tratamento e recebimento de requisições em Back-End com NodeJs, com persistência de dados em banco
    MongoDB e ODM Mongoose. Responsável pela implementação de novas funcionalidades, ajustes, controle
    de versão com Git em repositório do BitBucket e desenvolvimento em ambiente Linux.
    Período: 01/2018 – atual.
  </p>
</aside>
<aside>
  <h3>Ação Contact Center</h3>
  <h4>Cargo: Técnico de Suporte</h4>
  <p>
    <b>Atividades desenvolvidas:</b> Atuação no setor de Help Desk dando suporte ao usuário final, demandas
    relacionadas a cabeamento estruturado e falhas físicas na rede da empresa, configuração de cliente de e-mail (in -
    clusão e exclusão de usuários a grupo, criação e atividades correlacionadas), Active Directory, instalação de
    equipamentos em rede (ramais, impressoras, entre outros), resgates de imagens em DVR’s, publicação de
    arquivos em Intranet utilizando HTML e auxílio em processos dentro do setor.
    Período: 10/2014 – 01/2018.
  </p>
</aside>
<aside>
  <h3>FIEMG – Federação das Indústrias do Estado de Minas Gerais</h3>
  <h4>Cargo: Estagiário de Suporte</h4>
  <p>
    <b>Atividades desenvolvidas:</b> Suporte ao usuário remotamente e fisicamente, manutenção de computadores,
    formatação, configuração de e-mail, colocar máquina no domínio, instalação de impressoras, atendimento
    de chamados e conferência de produtos.
    Período: 11/2013 – 02/2014.
  </p>
</aside>
<aside>
  <h3>Megaware Industrial LTDA/Rede Cidadã</h3>
  <h4>Cargo: Auxiliar de Serviços Administrativos</h4>
  <p>
    <b>Atividades desenvolvidas:</b> montagem e manutenção de computadores e notebooks, homologação de
    hardwares, criação e envio de imagens para servidor, instalação de softwares, organização de estoque,
    atendimento ao público, aprovação de PA, conferência de ordens de produção, e digitação de documentos.
    Período: 11/2012 – 02/2013.
  </p>
</aside>
<aside>
  <h3>Megaware Industrial LTDA/ASSPROM</h3>
  <h4>Cargo: Auxiliar de Escritório</h4>
  <p>
    <b>Atividades Desenvolvidas:</b> montagem e manutenção de computadores e notebooks, homologação de
    hardwares, criação e envio de imagens para servidor, instalação de softwares, organização de estoque,
    atendimento ao público, conferência de ordens de produção e digitação de documentos.
    Período: 10/2011 - 10/2012.
  </p>
</aside>