<div class="row">
  <section class="col-md-3 col-xs-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Portifólio</mat-card-title>
        <mat-card-subtitle>Front-end Angular</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Projeto deste portifólo para mostrar quem sou, minha carreira profissional, conhecimentos obtidos na minha trajetória no
          mundo de desenvolvimento, interesses e projetos que já realizei.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/viniciusrc15/portifolio-viniciusrc" target="_blank" mat-button color="primary">GitHub</a>
      </mat-card-actions>
    </mat-card>
  </section>
  <section class="col-md-3 col-xs-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Monitoria Una</mat-card-title>
        <mat-card-subtitle>Front-end Angular</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Projeto do 4° período de Sistemas de Informação na Una com objetivo de listar monitorias da faculdade online
          e gerar um maior impacto positivo na aprendizagem dos alunos.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/viniciusrc15/unaMonitoriaAngular" target="_blank" mat-button color="primary">GitHub</a>
        <a href="https://viniciusrc15.github.io/monitoriaUna/" target="_blank" mat-button color="primary">Aplicação</a>
      </mat-card-actions>
    </mat-card>
  </section>
  <section class="col-md-3 col-xs-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Monitoria</mat-card-title>
        <mat-card-subtitle>Back-end NodeJs e MySql</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          API Rest para consumo de aplicação de monitorias, sendo possivel fazer login utilizando JWT, cadastrar
          monitorias, listar monitorias e excluir monitorias.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/viniciusrc15/backEndMonitoria" target="_blank" mat-button color="primary">GitHub</a>
      </mat-card-actions>
    </mat-card>
  </section>
  <section class="col-md-3 col-xs-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Consulta Empresas</mat-card-title>
        <mat-card-subtitle>Front-end Angular</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Projeto para vaga de estágio consumindo API rest, sendo necessário logar
          e passar dados do token via cabeçalho para fazer requisições.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/viniciusrc15/consulta-empresas-api" target="_blank" mat-button color="primary">GitHub</a>
      </mat-card-actions>
    </mat-card>
  </section>
  <section class="col-md-3 col-xs-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Listagem de Produtos</mat-card-title>
        <mat-card-subtitle>Front-end React</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Iniciando Aprendizado em ReactJs consumindo API do curso da RocketSeat.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/viniciusrc15/reactjs-learning" target="_blank" mat-button color="primary">GitHub</a>
      </mat-card-actions>
    </mat-card>
  </section>
</div>