div.container {
    height: 100%;
    background-color: beige;
}

section {
    padding: 0 !important;
}

.basepadding {
    padding: 20px;
}

footer small {
    margin-top: 2px;
    float: right;
}

footer small a {
    color: black;
}
footer small a:hover {
    color: #3f51b5
    ;
}

@media (min-width: 1326px) {
    section.col-md-9.tabs {
        margin-top: 80px;
    }
}