<div class="container">
  <div class="row">
    <section class="col-md-2 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Vinicius Castro</mat-card-title>
          <mat-card-subtitle>Desenvolvedor FullStack</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/profile.jpg" alt="Foto de perfil">
        <mat-card-content>
          <p>
            Graduando em Sistemas de Informação, desenvolvedor FullStack em projetos Web e Mobile utilizando Angular 5,
            Ionic 3, NodeJs, MongoDB, Scss, MySql e Java(POO).
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LinkedIn</button>
          <button mat-button>GitHub</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section class="col-md-9 tabs">
      <mat-tab-group>
        <mat-tab label="Quem sou eu">Quem sou eu</mat-tab>
        <mat-tab active label="Histórico Profissional">
          <app-profile></app-profile>
        </mat-tab>
        <mat-tab label="Contato">Contato</mat-tab>
      </mat-tab-group>
    </section>
  </div>
</div>