div.container {
    height: 100%;
    background-color: beige;
}

section {
    padding: 0 !important;
}

.basepadding {
    padding: 20px;
}

mat-tab-header {
    background-color: aquamarine !important;
}
.mat-tab-body-content {
    overflow-x: inherit !important;
}

@media (min-width: 1326px) {
    section.col-md-9.tabs {
        margin-top: 80px;
    }
}