
div.container {
    height: 100%;
    background-color: beige;
}

mat-card img {
    padding: 10px;
}

@media (min-width: 1326px) {
    section.col-md-9.tabs {
        margin-top: 80px;
    }
}

button:hover {
    background-color: beige;
}