<aside>
  <p>
    Meu nome é Vinicius Rodrigues de Castro, tenho {{ year }} anos e sou aluno do 6° período do curso Sitemas de
    Informação na Una unidade do Barro Preto(noturno). Trabalho com Tecnologia da Informação desde os 15 anos,
    inicialmente trabalhei com atividades de suporte ao usuário final, manutenção e montagem de micros e redes e a um
    ano ingressei com desenvolvimento especificamente trabalhando com Desenvolvimento Web utilizando como principal
    Stack JavaScript, por meio de NodeJs, MongoDB, framework Angular e Ionic. Tenho grande facilidade de aprendizado,
    proatividade, bom relacionamento interpessoal e como já pode-se ver sou aficionado por tecnológia.
  </p>
  <article>
    <h4>Habilidades técnicas</h4>
    <mat-list>
      <div style="position:inherit; display:table-row-group;">
        <mat-list-item>
          <mat-chip-list class="row">
            <p>Liguagens: </p>
            <mat-chip class="intermediario" title="Intermediário">JavaScript</mat-chip>
            <mat-chip class="intermediario" title="Intermediário">TypeScript</mat-chip>
            <mat-chip class="pre-intermediario" title="Pre-intermediário">Java</mat-chip>
            <mat-chip class="basico" title="Básico">PHP</mat-chip>
            <mat-chip class="basico" title="Básico">C#</mat-chip>
          </mat-chip-list>
        </mat-list-item>
      </div>
      <div style="position:inherit; display:table-row-group;">
        <mat-list-item>
          <mat-chip-list class="row">
            <p>Frameworks: </p>
            <mat-chip class="intermediario" title="Intermediário">Angular</mat-chip>
            <mat-chip class="intermediario" title="Intermediário">Ionic</mat-chip>
            <mat-chip class="pre-intermediario" title="Pre-intermediário">Mongoose</mat-chip>
            <mat-chip class="pre-intermediario" title="Pre-intermediário">Express</mat-chip>
            <mat-chip class="basico" title="Básico">React</mat-chip>
          </mat-chip-list>
        </mat-list-item>
      </div>
      <div style="position:inherit; display:table-row-group;">
        <mat-list-item>
          <mat-chip-list class="row">
            <p>Banco de Dados: </p>
            <mat-chip class="pre-intermediario" title="Pre-intermediário">MongoDB</mat-chip>
            <mat-chip class="basico" title="Básico">MySql</mat-chip>
            <mat-chip class="basico" title="Básico">SQL Server</mat-chip>
          </mat-chip-list>
        </mat-list-item>
      </div>
    </mat-list>
    <table>
      <tbody >
        <tr class="row basepadding">
          <td class="col-md-4 col-xs-12"><div class="intermediario"></div><small>Intermediário</small></td>
          <td class="col-md-4 col-xs-12"><div class="pre-intermediario"></div><small>Pré-intermediário</small></td>
          <td class="col-md-4 col-xs-12"><div class="basico"></div><small>Básico</small></td>
        </tr>
      </tbody>
    </table>
  </article>
</aside>