/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {    
    font-family: Roboto,"Helvetica Neue",sans-serif;
    letter-spacing: 0.3px;
    background-color: #DCDCDC;
    margin: 0;
}

a:hover {
    background-color: beige;
}

.basepadding {
    padding: 20px;
}

.mat-tab-body-content {
    overflow-x: inherit !important;
}